<!DOCTYPE html>
<html lang="en">
<head>
      <!-- styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="utf-8">
    <title>Systematic Literature Review</title>
</head>

<body>
  <div class = "container">
    <h1>{{doc['title']}}</h1>

    <h2>Authors</h2>
    {% if doc.authors %}
    <ul>
        {% for author in doc['authors'] %}
            <li>{{author['first_name']}} {{author['last_name']}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2>Source</h2>
    {% if doc.source %}
        {{doc['source']}}
    {% endif %}

    <h2>Year</h2>
    {% if doc.year %}
        {{doc['year']}}
    {% endif %}

    <h2>PMID</h2>
    {% if doc.identifiers.pmid %}
        {{doc['identifiers']['pmid']}}
    {% endif %}

    <h2>Abstract</h2>
    {% if doc.abstract %}
        {{doc['abstract']}}
    {% endif %}

    <h2> Keywords </h2>
    {% if doc.keywords %}
        {% for keyword in doc['keywords'] %}
            {{keyword}},
        {% endfor %}
    {% endif %}
  </div>
</body>
</html>
